* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Outfit", sans-serif;
}

.container {
    width: 350px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 15px 30px 0px hsl(217, 55%, 10%), -15px 30px 0px hsl(217, 55%, 10%);
}

.container > .photo > img {
    width: 100%;
    border-radius: 10px;
}
.container > .photo {
    position: relative;
    cursor: pointer;
}

.container > .photo > .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.527);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    display: none;
}
.container > .photo:hover > .overlay {
    display: flex;
}
.container > h3 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    margin: 15px 0;
    cursor: pointer;
}
.container > p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
}
.details,
.Creater-info {
    margin: 15px 0;
}
.details,
.details > .left,
.details > .right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details > .left p,
.details > .right p,
.container .Creater-info > p {
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
}
.details > .left p,
.container > h3:hover {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}
.container > hr {
    border: 1px solid hsl(215, 32%, 27%);
}
.container .Creater-info > img {
    width: 30px;
    border: 2px solid hsl(215, 51%, 70%);
    border-radius: 50%;
}
.container .Creater-info {
    display: flex;
    align-items: center;
}
.container .Creater-info p span {
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}
.container .Creater-info p span:hover {
    color: hsl(178, 100%, 50%);
}
@media (max-width:767px) {
    body{
        height: 80vh;
    }
}
